 .image {
     cursor: pointer;
 }
 
 input[type='file'] {
     opacity: 0
 }
 
 .listname {
     cursor: pointer;
     list-style: none;
 }
 
 .listname .highlight {
     color: red;
 }
 
 .loader {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 5px;
     height: 5px;
     -webkit-animation: spin .5s linear infinite;
     animation: spin .5s linear infinite;
 }
 
 .adduser {
     float: right;
     margin-right: 10px;
 }
 
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
     }
 }
 
 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }