<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h5 class="box-title">SubCategory Management</h5>
                        <button title="Add new user" id="modal-219933" pull-right class="btn btn-xs btn-danger adduser" (click)="add()" href="#modal-container-219933" data-toggle="modal">
                            <i class="fa fa-user"></i>
                            Add Category</button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-1"><label>Search:</label></div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input type="search" class="form-control" title="Enter Category name" placeholder="Keyword" [(ngModel)]="keyword" />
                                </div>
                            </div>
                            <!--     <div class="col-sm-2">
                                <input type="search" class="form-control" title="Enter user email" placeholder="User Email" [(ngModel)]="search.email" />
                            </div>
                            <div class="col-sm-1">
                                <select id="" [(ngModel)]="search.dob" class="form-control">
                                                <option [disabled]="true" value="">year</option>
                                                <option  *ngFor="let list of dobyear" value="{{list}}">  {{list}}</option>        
                                            </select>
                            </div>
                            <div class="col-sm-1">
                                <select id="" [(ngModel)]="search.gender" class="form-control">
                                                <option [disabled]="true" value="">Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                            </div> -->

                            <!--  <div class="col-sm-2">
                                <button title="Search" class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-search"></i> Search</button>
                                <button title="Clear Search" class="btn btn-dark" (click)="clear()">   <i class="fa fa-remove"></i>  clear</button>
                            </div> -->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered  table-condensed table-hover">
                                <thead>
                                    <tr>

                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Parent Category
                                        </th>
                                        <th>
                                            <small> Created</small>
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data | search:'cat_name,type':keyword">

                                        <td>{{item.cat_name}}
                                            <!--  <span *ngIf="item.isBlocked==false" title="Active Users" class="text-success fa fa-check-circle"> </span>
                                            <span *ngIf="item.isBlocked==true" title="Blocked Users" class="text-danger fa fa-ban"> </span> --></td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.pcat_name}}</td>
                                        <td><small>{{item.createdAt|date}}</small></td>
                                        <td>
                                            <button title="Edit user" id="modal-219933" class="btn btn-xs btn-success" (click)="getCat(item)" href="#modal-container-219933" data-toggle="modal">Edit</button>
                                            <button title="Delete user" class="btn btn-xs btn-danger" (click)="delete(item)">Delete</button>
                                            <!-- <button title="Delete user" id="modal-219934" class="btn btn-xs btn-danger" (click)="deleteCat(item)" href="#modal-container-219934" data-toggle="modal"><i class="fa fa-trash-o"></i></button> -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                    </tr>
                                </tfoot>
                            </table>
                            <!-- <button class="btn btn-xs btn-info" (click)="loadmore()"> <i class="fa fa-repeat"></i>  load more</button> -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="modal-container-219933" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{pagetitle}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label for="">Type</label>
                            <select class="form-control" id="" [(ngModel)]="cat.type" (change)="onSelect($event.target.value)">
                                        <option [disabled]="true" value="">Select</option>
                                        <option value="Sing" ng-selected="Sing" >Sing</option>
                                        <option value="Dance" ng-selected="Dance">Dance</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Parent Category</label>
                            <select class="form-control" id="" [(ngModel)]="cat.p_id">
                                <option [disabled]="true" value="">Select</option>

                                <option *ngFor="let item of category" value="{{item.c_id}}" >{{item.cat_name}}</option>
                                         
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Category Name</label>
                            <input type="text" class="form-control" id="" [(ngModel)]="cat.cat_name" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                <button type="button" (click)="updateData()" class="btn btn-primary">
                            Save changes
                        </button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="modal-container-219934" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        ×
                                    </button>
                <h4 class="modal-title" id="myModalLabel" style="text-align: center;">
                    {{pagetitle}}
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="deleteData()" class="btn btn-primary">
                                        Delete
                                    </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                        Cancel
                                    </button>
            </div>
        </div>
    </div>
</div> -->